<footer class="footer bg-black mt-auto py-3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Sobre</h5>
                <p>Esse sistema foi feito com o intuito de ser parte do meu portfólio para demonstrar minhas habilidades e conhecimentos técnicos. </p>
            </div>
            <div class="col-md-4 text-center" id="links-space">
                <h5>Links de Contato</h5>
                <ul class="list-group list-group-horizontal">
                    <li><a href="https://www.linkedin.com/in/rafael--resende/"><i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i></a></li>
                    <li><a href="https://github.com/ResenDev"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-upwork fa-xl" style="color: #ffffff;"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h5>Contato</h5>
                <p>Email: ressendev@gmail.com</p>
                
            </div>
        </div>
        <div class="text-center mt-3">
            <p>© 2024 Ressendev. Todos os direitos reservados.</p>
        </div>
    </div>
    <style>
        .footer{
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        .footer p,h5,li{
            color: #fff;
        }
        .footer ul{
            justify-content: center;
              
        }
        .footer li{
            padding: 10px;
        }
        *{
            list-style: none;
        }
         
    </style>
</footer>