<footer class="footer mt-auto py-3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Sobre</h5>
                <p>Esse sistema foi feito com o intuito de ser parte do meu portfólio.</p>
            </div>
            <div class="col-md-4 text-center" id="links-space">
                <h5>Links de Contato</h5>
                <ul class="list-group list-group-horizontal">
                    <li><a href="https://www.linkedin.com/in/rafael--resende/" target="_blank"><i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i></a></li>
                    <li><a href="https://github.com/ResenDev" target="_blank"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a></li>
                    <li><a href="https://resendesworkspace.slack.com/team/U070CLVMFU4" target="_blank"><i class="fa-brands fa-slack fa-xl" style="color: #ffffff;"></i></a></li>
                    <li><a href="mailto:ressendev@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-xl"style="color: #ffffff;"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h5>Meu Portfólio</h5>
                <p>site.com.br</p>
                
            </div>
        </div>
        <div class="text-center mt-3">
            <p>© 2025 Ressendev. Todos os direitos reservados.</p>
        </div>
    </div>
    <style>
        .footer{
            background:#023E7D;
            text-align:center;
            left: 0;
            bottom: 0;
            padding: 10px 0;
            width: 100%;
        }
        .footer p,h5,li{
            color: #fff;
        }
        .footer ul{
            justify-content: center;
              
        }
        .footer li{
            padding: 5px;
        }
        *{
            list-style: none;
        }
        .container{
            margin-top:20px;
        }
         
    </style>
</footer>