{% extends "global/base.html" %}
{% load static %}

    {% block content %}
        <main>
        <!--Inicio do Titulo e Barra de pesquisa-->
            <div class="container-header mt-3">
                <h1 class="text-center">MINHA COLEÇÃO</h1>
                <div class="d-flex justify-content-center align-items-center">
                    <form class="d-flex m-4   " role="search" id="caixa-pesquisa">
                        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" name="pesquisa">
                        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                    </form>
            </div>
            
            <!--Fim do Titulo e Barra de pesquisa-->
                {% if itens %}
                    <div class="cont-itens text-center">
                        <p>Total de itens: {{ paginator.count }} </p>  <!--soma todos os registros de todas páginas-->
                    </div>
                {% endif %}
            <!--Add item inicio--> 
            <div class="container-add d-flex justify-content-center align-items-center">
                
                <div class="dropdown" id="sort-container">
                    <button type="button" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-sort-up"></i> Ordenar por
                    </button>
                    <ul class="dropdown-menu" id="drop-menu-export">
                        <li><a class="dropdown-item" name="m-recente" href="?ordenacao=-updated_at">Mais recentes</a></li>
                        <li><a class="dropdown-item" name="m-antigos" href="?ordenacao=updated_at">Mais antigos</a></li>
                        <li><a class="dropdown-item" name="alfa-c" href="?ordenacao=titulo">A-Z</i></a></li>
                        <li><a class="dropdown-item" name="alfa-d" href="?ordenacao=-titulo">Z-A</a></li>
                      </ul>
                </div>  
                
                <button 
                type="button"
                class="btn btn-primary" 
                data-bs-toggle="modal" 
                data-bs-target="#modal"
                hx-get="{% url 'item:cadastrar_item' %}"
                hx-target="#dialog"
                
                >
                    <i class="bi bi-plus-circle"></i> 
                    Adicionar item
                </button>
                <div class="dropdown" id="export-container">
                    <button type="button" class="btn btn-success dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-file-earmark-arrow-down-fill"></i> Salvar como
                    </button>
                    <ul class="dropdown-menu" id="drop-menu-export">
                        <li><a class="dropdown-item" href="{% url 'item:exp_csv' %}"><i class="bi bi-filetype-csv"> CSV</i></a></li>
                        <li><a class="dropdown-item" href=" {% url "item:exp_pdf" %} "><i class="bi bi-file-earmark-pdf"> PDF</i></a></li>
                      </ul>
                </div>   
            </div>
            <!--Add item final-->    

            <!--Inicio da Área Modal  -->
            
            <div class="modal fade" id="modal"  tabindex="-1"  >
                <div id="dialog" class="modal-dialog">
                    <!--Modais serão inseridos aqui pelo htmx-->
                </div>
            </div>
            <!--Fim da Área Modal  -->
            {% if messages %}
            {% for mensagem in messages %}
                {% if mensagem %}
                
                    <div class="alert alert-success" role="alert">
                        {{ mensagem }}
                    </div>        
                
                {% endif %}
            {% endfor %}
          {% endif %}
            <canvas class="my-2 w-100" id="myChart" width="900" height="20"></canvas>

            <!--Começo da Tabela -->
            {% if itens %}
            <div class="table-responsive table-bordered">
                <table class="table table-striped w-100 ">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Adquirido em (ano)</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        
                    {% for item in itens %}
                        <tr>
                            <td>{{  item.titulo|truncatechars:25  }}</td>
                            <td>{{ item.categoria  }}</td>
                            <td>{{ item.marca|upper|truncatechars:15  }}</td>
                            <td>{{ item.descricao_item|truncatechars:35  }}</td><!--Limitador de caracteres-->
                            <td>{{ item.ano_aquisicao }}</td>
                            <td>
                                <a class="btn btn-primary"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modal"
                                    hx-get="{% url 'item:detalhar_item' pk=item.pk %}"
                                    hx-target="#dialog"
                                >
                                    <i class="bi bi-eye-fill" id="visualizar-icon">   Ver</i> </button>
                                </a>
                                <a class="btn btn-warning" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modal"
                                    hx-get="{% url 'item:atualizar_item' pk=item.pk %}"
                                    hx-target="#dialog"
                                >
                                    <i class="bi bi-pencil-fill" id="editar-icon" >   Editar</i> </button>
                                </a>
                                <a class="btn btn-danger"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modal"
                                    hx-get="{% url 'item:deletar_item' pk=item.pk %}"
                                    hx-target="#dialog"
                                >
                                    <i class="bi bi-trash-fill"id="deletar-icon">  Deletar</i> </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% include "global/partials/pagination.html" %}
            
            {% else %}
                <p class="text-center" id="no-itens">Nenhum item foi encontrado.</p> 
        {% endif %}
        </main>
        
        {% endblock content %}
        <!--Fim da Tabela -->
        
        {% block style %} 
            <style>
                
                thead{
                    background:#023E7D;
                    color:#fff;
                }
                #editar-icon{
                    color:#fff;
                }
                .table-responsive{
                    margin: 0 30px;
                    background:#fff;
                }
                h1{
                    font-weight:600;
                }
                #caixa-pesquisa{ 
                }
                #export-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    align-items: center;
                    position: absolute; 
                    right: 30px;
                    border:none;
                }
                #sort-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    align-items: center;
                    position: absolute; 
                    left: 30px;
                    border:none;
                }
                .btn-success{
                    background:#38B000
                  }
                .alert{
                    margin-top:20px;
                    width: 100%;
                    display: flex;
                    justify-content: center; 
                    align-items: center;
                    text-align: center;
                  }
            </style>
        {% endblock style %}
    
