{% include "global/partials/head.html" %}
{% load static %}
<body>
  <div class="container-form">
    <div class="header-form">
      {% if messages %}
        {% for mensagem in messages %}
            <div class="alert alert-danger" role="alert">
              {{ mensagem }}
            </div>
        {% endfor %}
      {% endif %}
      <div class="foto"><img src="{% static "global/media/user_login5.png" %}" alt="" style="width:25%"></div>
      <h3 id='titulo'>LOGIN</h3>
    </div>
    <div class="formulario">
      <form action="{% url 'user:login' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="name" class="form-control" id="floatingInput" placeholder="Usuário" name="username" required="True">
          <label for="floatingInput">Usuário</label>
         </div>
        <div class="form-floating mb-5">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Senha"  name="password" required="True">
          <label for="floatingPassword">Senha</label>
        </div>
        <div class="text-center">
          <input type="submit" value="Entrar" class="btn btn-success btn-lg">
        </div>
      </form>
    </div>
  </div>
  <div class="credenciais-container">
    <div class="cred-titulo">
      <h5><img src="{% static "global/media/key-set.png" %}" alt="">Credenciais</h5>
    </div>
    <div class="conta1">
      <p><strong>-----CONTA 1-----</strong></p>
      <p>Usuário: testador</p>
      <p>Senha: teste321</p>
    </div>
    
    <div class="conta2">
      <p><strong>-----CONTA 2-----</strong></p>
      <p>Usuário: Test-User</p>
      <p>Senha: teste123</p>
    </div>
  </div>
  <style>
    .container-form{
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center;
      background: rgba(255, 255, 255, 0.1); /* Fundo transparente */
      backdrop-filter: blur(3px);
      height: 570px;
      border-radius:10px;
      border:1px solid #fff;
    } 
  
    .formulario{
      width:430px;

    }
    
    #titulo{
      text-align: center;
      color:#fff;
      margin-bottom:50px;
      font-weight:800;
    }
    body {
      font-family: "Poppins", serif;
      display: flex;
      justify-content: center; /*  horizontalmente */
      align-items: center; /* verticalmente */
      min-height: 100vh; 
      margin: 0;  
      background: url("{% static "global/media/background-login.jpg" %}") ;
      background-repeat: no-repeat;
      background-size:cover;
    }
    .btn-success{
      background:#38B000
    }
    .btn{
      width:265px;
      font-weight:800;

    }
    .credenciais-container{
      padding-top:10px;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
      background:#0466C8;
      width: 200px;
      height: 280px;
      border-radius: 5px;
      color:#fff;
      position: fixed; 
      right: 20px;
    }
    .cred-titulo img{
      width: 30px;
    }
    .foto{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom:20px
    }
    *{
      list-style:none;
    }
    .alert{
      width: 70%;
      text-align: center;
    }
    .header-form {
      display: flex;
      flex-direction: column; 
      align-items: center;
    }
  </style>
</body>